body {
    background: url("../Img/cover.jpg") no-repeat fixed center/cover;
}

header {
    margin: 25px;
    font-style: italic;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-right: 100px;
    text-align: right;
    align-self: auto;
}

nav ul li {
    display: inline;
    margin-left: 40px;
}

nav ul li a {
    color: #f2f8fc;
    text-decoration: none;
}

section {
    width: 85%;
    display: block;
    padding-left: 75px;
    justify-content: left;
}

.container {
    color: #121214;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.container h1 {
    display: block;
    margin: 5px;
    color: #fb0;
    font-size: 70px;
    font-family: cursive;
    position: relative;
    animation: mymove 2.5s;
}

@keyframes mymove {
    from {
        left: 20px;
    }

    to {
        left: 0px;
    }
}

.container h2 {
    margin: 0;
    padding-left: 2px;
    padding-bottom: 10px;
    position: relative;
    animation: movedetail 4s;
}

@keyframes movedetail {
    from {
        left: 25px;
    }

    to {
        left: 0px;
    }
}

.box {
    padding-left: 5px;
    display:flex;
    gap: 25px;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.b1 {
    background-color: #121214;
    color: white;
    border: 2px solid #121214;
}

.b1:hover {
    background-color: transparent;
    color: #111;
    border: 2px solid white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.b2 {
    background-color: transparent;
    color: black;
    border: 2px solid white;
}

.b2:hover {
    background-color: #111;
    color: white;
    border: 2px solid #121214;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}