body {
    margin: 0;
    border: 0;
}

header .container {
    margin: 0;
    padding-top: 5px;
    font-size:32px;
    text-align: center;
    color: #ffbb00;
}

.container h1 {
    background: url("../Img/bg.jpg") no-repeat fixed center/cover;
    margin: 0;
}

nav {
    font-style: italic;
    font-size: 20px;
    background: #333;
    color: #c2b8ac;
    padding: 12px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-right: 40px;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.holder {
    background-color: #D2B48C;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.menu-card {
    background-color: #D2B48C;
    color: #5e2217;
    width: 100%;
    padding-left: 12px;
}

.holder h1 {
    margin: 0;
    font-size: 50px;
}

section {
    display: flex;
    line-height: 32px;
    height: 650px;
    justify-content: right;
    padding-right: 20px;
    background: url("../Img/bg3.jpg") no-repeat center/cover;
}

section h2 {
    margin-bottom: 0;
}

.bin {
    width: 21.5%;
    display: block;
    justify-content: right;
    position:relative;
}

.menu-title {
    color: gold;
    text-align: left;
    padding-left: 4px;
    padding-right: 24px;
}

.info {
    display: inline-flex;
    width: 240px;
    gap: 10px;
    justify-content: space-between;
}

.holder h4,
.holder p {
    margin: 0%;
    font-size: 20px;
    font-weight: 100;
}
footer {
    background-color: #D2B48C ;
    color: #6a4c93;
    text-align: center;
    font-size: 27px;
    padding: .60rem;
}