body {
    margin: 0;
    border: 0;
}

header, footer {
    background-color: #6a4c93;
    color: white;
    text-align: center;
    font-size: 27px;
    padding: .5rem;
}

header{
    background: url("../Img/bg.jpg") no-repeat fixed center/cover;
}

header h1 ,
header p {
    margin-top: 7px;
    margin-bottom: 7px;
}
nav {
    font-style: italic;
    font-size: 20px;
    background: #333;
    color: #c2b8ac;
    padding: 12px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-right: 40px;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    color: white;
    text-align: center;
}
.order-container {
    margin: .5rem auto;
    max-width: 800px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.order-item {
    display:flex;
    gap: 12px;
    margin-bottom: 1rem;
}

.order-item span{
    display: flex;
    align-items: center;
}
.user-input{
    padding-left: 25px;
    padding-bottom: 15px;
    line-height: 50px;
}
select, input, button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Button container styling */
.button-container {
    display: flex;      /* Use flexbox for alignment */
    justify-content: center; /* Center align buttons horizontally */
    gap: 21px;          /* Add space between buttons */
    margin-top: .5rem;   /* Add space from the top */
}

/* Button styling (optional for consistency) */
button {
    padding: 0.5rem 1.5rem;
    background-color: #6a4c93;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #503375;
}

.amount{
    text-align: center;
}
